Squeak-4.5-All-In-One/squeak.bat
Squeak-4.5-All-In-One/squeak.sh
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/_CodeSignature/CodeResources
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Library/QuickLook/SqueakQL.qlgenerator/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Library/QuickLook/SqueakQL.qlgenerator/Contents/MacOS/SqueakQL
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Library/QuickLook/SqueakQL.qlgenerator/Contents/MacOS/SqueakQL.sig
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Library/QuickLook/SqueakQL.qlgenerator/Contents/Resources/English.lproj/InfoPlist.strings
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/bin/squeak
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/doc/squeak/COPYING.gz
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/doc/squeak/COPYRIGHT.gz
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/doc/squeak/LICENSE.gz
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/doc/squeak/README.Contributing.gz
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/doc/squeak/README.Keyboard.gz
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/doc/squeak/README.Sound.gz
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/B3DAcceleratorPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/BochsIA32Plugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/LocalePlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/squeak
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/SqueakFFIPrims
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/SqueakSSL
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/UnixOSProcessPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/UUIDPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/vm-display-fbdev
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/vm-display-null
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/vm-display-X11
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/vm-sound-ALSA
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/vm-sound-null
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/lib/squeak/4.0-2776/vm-sound-OSS
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/man/man1/inisqueak.1
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/man/man1/squeak.1
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Linux-i686/squeak
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/splash.bmp
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Squeak.exe.manifest
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Squeak.ini
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/Squeak.map
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/squeak.sh
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/LinuxAndWindows/SqueakConsole.map
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/MacOS/Squeak
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/README
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/BochsIA32Plugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/BochsIA32Plugin.bundle/Contents/MacOS/BochsIA32Plugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ClipboardExtendedPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ClipboardExtendedPlugin.bundle/Contents/MacOS/ClipboardExtendedPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ClipboardExtendedPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ClipboardExtendedPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/CroquetPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/CroquetPlugin.bundle/Contents/MacOS/CroquetPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/CurlPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/CurlPlugin.bundle/Contents/MacOS/CurlPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/CurlPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/CurlPlugin.bundle/Contents/Resources/Info-CURLPlugin.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/CurlPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FloatArrayPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FloatArrayPlugin.bundle/Contents/MacOS/FloatArrayPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FloatMathPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FloatMathPlugin.bundle/Contents/MacOS/FloatMathPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FT2Plugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FT2Plugin.bundle/Contents/MacOS/FT2Plugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FT2Plugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/FT2Plugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/HW1.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/IA32ABI.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/IA32ABI.bundle/Contents/MacOS/IA32ABI
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/IA32ABI.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/IA32ABI.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin.bundle/Contents/MacOS/KedamaPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin.bundle/Contents/Resources/English.lproj/InfoPlist.strings
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin.bundle/Contents/Resources/Info-KedamaPlugin__Upgraded_.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin.bundle/Contents/Resources/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin2.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin2.bundle/Contents/MacOS/KedamaPlugin2
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin2.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin2.bundle/Contents/Resources/English.lproj/InfoPlist.strings
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin2.bundle/Contents/Resources/Info-KedamaPlugin__Upgraded_.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin2.bundle/Contents/Resources/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/KedamaPlugin2.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/koko.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/Lab-zoo.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/LocalePlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/LocalePlugin.bundle/Contents/MacOS/LocalePlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/LocalePlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/LocalePlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/mpeg3Plugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/mpeg3Plugin.bundle/Contents/MacOS/mpeg3Plugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/mpeg3Plugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/mpeg3Plugin.bundle/Contents/Resources/CarbonApp.rsrc
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/mpeg3Plugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/Network-UUID.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ObjectiveCPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ObjectiveCPlugin.bundle/Contents/MacOS/ObjectiveCPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ObjectiveCPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ObjectiveCPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/OggPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/OggPlugin.bundle/Contents/MacOS/OggPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/OggPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/OggPlugin.bundle/Contents/Resources/InfoPlist.strings
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/OOP1.html
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/OOP1.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/PrintJobPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/PrintJobPlugin.bundle/Contents/MacOS/PrintJobPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/PrintJobPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/PrintJobPlugin.bundle/Contents/Resources/Info-PrintJobPlugin__Upgraded_.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/PrintJobPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/QuicktimePlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/QuicktimePlugin.bundle/Contents/MacOS/QuicktimePlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/QuicktimePlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/QuicktimePlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/RomePlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/RomePlugin.bundle/Contents/MacOS/RomePlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/RomePlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/RomePlugin.bundle/Contents/Resources/Info-RomePlugin.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/RomePlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SerialExtendedUnixPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SerialExtendedUnixPlugin.bundle/Contents/MacOS/SerialExtendedUnixPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SerialExtendedUnixPlugin.bundle/Contents/pbdevelopment.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SerialExtendedUnixPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SerialExtendedUnixPlugin.bundle/Contents/Resources/English.lproj/InfoPlist.strings
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SerialExtendedUnixPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ServicesPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ServicesPlugin.bundle/Contents/MacOS/ServicesPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ServicesPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ServicesPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SMBase-installer.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SMBase-UI.html
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/Frameworks/SpellCheck.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/Frameworks/SpellCheck.bundle/Contents/MacOS/SpellCheck
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/Frameworks/SpellCheck.bundle/Contents/Resources/English.lproj/InfoPlist.strings
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/MacOS/SpellingPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/Resources/InfoPlist.strings
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/Resources/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SpellingPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/Squeak.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/Squeak4.5-13680.1.changes
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/Squeak4.5-13680.1.image
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/Squeak4.5-13680.changes
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/Squeak4.5-13680.image
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakChanges.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakFFIPrims.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakFFIPrims.bundle/Contents/MacOS/SqueakFFIPrims
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakFFIPrims.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakGeneric.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakImage.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakProject.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakScript.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakSources.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakSSL.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakSSL.bundle/Contents/MacOS/SqueakSSL
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/SqueakV41.sources
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/TestOSAPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/TestOSAPlugin.bundle/Contents/MacOS/TestOSAPlugin
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/TestOSAPlugin.bundle/Contents/PkgInfo
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/TestOSAPlugin.bundle/Contents/Resources/SqueakPlugin.icns
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ToolBuilder-SUnit.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/ToolBuilder-Tests.st
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/UnixOSProcessPlugin.bundle/Contents/Info.plist
Squeak-4.5-All-In-One/Squeak-4.5-All-in-One.app/Contents/Resources/UnixOSProcessPlugin.bundle/Contents/MacOS/UnixOSProcessPlugin
